<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Sawbaum</a>
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><%= link_to @montage.name, @montage, :class => "navbar-brand" %></li>
    <li><a href="#">Make a New One!!!</a></li>
  </ul>
  
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "See It!", @montage %>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add a Video +</a>
        <ul class="dropdown-menu" style="width: 400px">
          <li style="padding: 10px">
            <%= form_tag(montage_clips_path(@montage), :remote => true) do %>
              <div class="input-group">
                <input type="text" class="form-control" name="vine_url" placeholder="Link to Vine">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Add!</button>
                </span>
              </div>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div style="width: 1680px; height: 1050px; border: 1px dashed black;">
<% @montage.clips.each do |clip| %>
  <%= render clip %>
<% end %>
</div>