<div class="vine">
  <video controls loop preload="auto" src="https://v.cdn.vine.co/r/videos/09E106BD791073665467232698368_14dd8406fe9.3.4.mp4?versionId=ZunFclXAlgzPb0PwFa_hefG7ImKxcJOl" width="535" height="535">
  </video>
</div>

<div class="vine">
  <video controls loop preload="auto" src="https://v.cdn.vine.co/r/videos/0744E09A761073321148642627584_19902a0ee21.3.3.mp4?versionId=fdHNZJILriGklaKIgGPQGJErN8ObG9rP" width="535" height="535">  
  </video>
</div>

<div class="vine">
  <video controls loop preload="auto" src="https://mtc.cdn.vine.co/r/videos/26DC552CAB1073770903634132992_1d5df2b2989.3.2.mp4?versionId=WN5HeBzF9GcmodTT0BCwb3BGeYfS8OI7" width="535" height="535">
  </video>
</div>

<div class="vine">
  <video controls loop preload="auto" src="https://mtc.cdn.vine.co/r/videos/49F6D78F751073166417073160192_2cc50e5b9d6.0.3.11621153549944053327.mp4?versionId=Ysd_nQeXsPR2Sksi_XQI3eGxY8aMWbCf" width="535" height="535">
  </video>
</div>