div.navbar{
  border-radius: 0;
}

div.vine{
  margin-bottom: -8px;
  margin-top: -2px;
  cursor: move;
  background: transparent;
}

div.vine .controls{
  z-index: 1000;
  position: absolute;
  right: 0;
}

div.vine div.video{
  margin-bottom: -7px;
  margin-top: -2px;
}

.o-slider { width: 200px; }
.z-slider { width: 200px; }